<?xml version='1.0' encoding='utf-8'?>
<widget id="org.realtors.crt.lab" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CRTLab</name>
    <description>
        Detects users in the CRT lab based on iBeacons
    </description>
    <author email="ccote@realtors.org" href="http://crt.blogs.realtor.org/">
        CRT Labs
    </author>
    <icon src="www/res/crt_logo.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="com.unarin.cordova.beacon" spec="../cordova-plugin-ibeacon" />
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="../cordova-plugin-local-notifications" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.0.1" />
    <plugin name="org.apache.cordova.statusbar" spec="^0.1.10" />
    <preference name="StatusBarOverlaysWebView" value="false" />
</widget>
