<h3>Historic</h3>
<h4>Light</h4>
<nvd3 data="data.light" options="options" config="{refreshDataOnly: true}"></nvd3>
<h4>Temperature and Humidity</h4>
<nvd3 data="data.temp" options="options" config="{refreshDataOnly: true}"></nvd3>
<h4>Power Usage</h4>
<nvd3 data="data.power_usage" options="options" config="{refreshDataOnly: true}"></nvd3>
<h4>Weather</h4>
<nvd3 data="data.weather_data" options="options" config="{refreshDataOnly: true}"></nvd3>
<h4>Energy Usage</h4>
<nvd3 data="data.energy_usage" options="options" config="{refreshDataOnly: true}"></nvd3>
