<h3>Team</h3>
<ul class="list-group">
    <li ng-repeat="user in team.users" class="list-group-item">
        <a ng-href="#/user/{{user._id}}">{{user.name}}</a>
        <span class="label label-success pull-right" ng-show="user.in_office">In</span>
        <span class="label label-danger pull-right" ng-show="!user.in_office">Out</span>
    </li>
</ul>
<h3>Beacons</h3>
<ul class="list-group">
    <li ng-repeat="beacon in region.beacons" class="list-group-item">
        {{beacon.major}}:{{beacon.minor}}
        <span class="badge">{{beacon.proximity}}</span>
    </li>
</ul>
