<div ng-controller="LabIndex">
    <h3>Team</h3>
    <ul class="list-group">
        <li ng-repeat="user in team.users" class="list-group-item">
            <a ng-href="#/user/{{user._id}}">{{user.name}}</a>
            <span class="label label-success pull-right" ng-show="user.in_office">In</span>
            <span class="label label-danger pull-right" ng-show="!user.in_office">Out</span>
        </li>
    </ul>
    <h3>Punch-clock</h3>
    <ul class="list-group">
        <li ng-repeat="time in team.me.times" class="list-group-item">
            {{time.time | date:'MM/dd/yyyy @ h:mma'}}
            <span class="label label-success pull-right" ng-show="time.value">In</span>
            <span class="label label-danger pull-right" ng-show="!time.value">Out</span>
        </li>
    </ul>
</div>
