html {
    height: 100%;
}

body {
    min-height: 100%;
}

.content{
    margin-top: 45px;
}

.nav-inoffice{
    margin-right: 10px;
}

th{
    text-align: center;
}

.warning-1{
    color: #ff0000;
}
